@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar las flechas en los campos de número */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none; /* Para navegadores más modernos */
}